// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: false;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

// Customize some defaults
$body-color: #343434;
$body-bg: #f8faff;
$border-radius: 0.4rem;

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

//
// Custom styles
//

@import "icon-list";

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.navbar-brand:focus,
.message:focus,
.breadcrumb-item a:focus,
.select__title:focus,
.select__option:focus,
input:focus,
textarea:focus {
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.mouse-clicked *:focus {
	box-shadow: none;
}

body {
	padding: 0;
	font-family: "Roboto", sans-serif;

	.menu-open {
		overflow: hidden;
	}
}

.form-control {
	border-radius: 0.125rem;
}

.title {
	margin-bottom: 1.6875rem;
	font-weight: 500;
	font-size: 1.25rem;
}

.btn {
	--bs-btn-border-radius: 0.125rem;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 2.25rem;
	padding: 0 1rem;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1;
	box-shadow: 0;
	border: none;

	svg {
		width: auto;
		height: 0.9375rem;
		margin-inline-end: 0.875rem;
		object-fit: contain;
	}
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: #6666cc;
	--bs-btn-border-color: #6666cc;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #6060c0;
	--bs-btn-hover-border-color: #6060c0;
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #5656af;
	--bs-btn-active-border-color: #5656af;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #6666cc;
	--bs-btn-disabled-border-color: #6666cc;
}

.btn-success {
	--bs-btn-bg: #55c97b;
	--bs-btn-border-color: #55c97b;
	--bs-btn-hover-bg: #4bb86f;
	--bs-btn-hover-border-color: #4bb86f;
	--bs-btn-active-bg: #45a866;
	--bs-btn-active-border-color: #45a866;
	--bs-btn-disabled-bg: #55c97b;
	--bs-btn-disabled-border-color: #55c97b;
}

.btn-secondary {
	--bs-btn-color: #fff;
	--bs-btn-bg: #b1b1b1;
	--bs-btn-border-color: #b1b1b1;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #a5a3a3;
	--bs-btn-hover-border-color: #a5a3a3;
	--bs-btn-focus-shadow-rgb: 130, 138, 145;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #999797;
	--bs-btn-active-border-color: #999797;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #b1b1b1;
	--bs-btn-disabled-border-color: #b1b1b1;
}

.page {
	@media (min-width: 1199.98px) {
		display: grid;
		grid-template: 5.4375rem 1fr / 15.75rem 1fr;
		grid-gap: 0.625rem 3.925rem;
		grid-template-areas:
			"aside header"
			"aside body";
		padding-inline-start: 0;
	}
}

.menu-background {
	display: none;
	@media (max-width: 1199.98px) {
		.menu-open & {
			position: fixed;
			inset: 0;
			z-index: 99;
			content: "";
			display: block;
			width: 100vw;
			height: 100vh;
			inset: 0;
			background-color: rgba(0, 0, 0, 0.3);
		}
	}
}

@import "header.scss";
@import "sidebar.scss";
@import "table.scss";
@import "content.scss";
@import "modal.scss";
@import "forms/select.scss";
